.body{
    min-height: 80vh;
}
.formGroup,.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    margin-bottom: 0;
}
.form{
    width: 600px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}
.groupItem{
    padding: 5px;
}
label{
    color: #051815;
    display: block;
    margin-left: 5px;
}
input{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px );
    border: 1px solid #036153;    
    border-radius: 5px;
}
button.submit{
    width: 100px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
