*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
}
header{
    background-color: #051815;
    padding: 10px;
    display: flex;
    padding: 10px 2%;
    height: 10vh;
    min-height: 60px;
}
header h1{
    color: white;
    width: 30%;
    text-align: center;
}
header nav{
    width: 60%;
    display: flex;
}
ul{
    justify-content: flex-end;

    width: 100%;
    display: flex;
}
li{
    display:flex ;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 5px;
    padding-top: 5px;
}
header nav ul li a{
    padding: 2px 4px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    
}
header nav ul li a:hover{
    border: 1px solid rgb(105, 104, 104);
    color: rgb(199, 199, 199);
}

footer{
    background-color: #051815;
    padding: 10px;
    height: 10vh;
    text-align: center;
    min-height: 60px;
}
footer p{
    padding-top: 10px;
    color: white;
}

.body{

    background-color: #041a169c;
}